/*
  CUSTOM STYLES
*/
@import "/static/css/fonts.css";
@import "/static/css/bootstrap.css";
@import "/static/css/swiper.css";

html {
  color: #535d62;
  scroll-behavior: smooth;
  font-family: "Proxima Nova", sans-serif;
}

.card {
  border: none;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.text-primary {
  color: #535d62 !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #666f74 !important;
}

.text-secondary {
  color: #dad9d7 !important;
}
a.text-secondary:focus,
a.text-secondary:hover {
  color: #c2bdb4 !important;
}

.bg-dark,
a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
  background-color: #535d62 !important;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
.hamburger:hover,
.hamburger:not(.collapsed):hover {
  opacity: 0.7;
}
.hamburger:focus {
  opacity: 1 !important;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner :before {
  top: -10px;
}
.hamburger-inner :after {
  bottom: -10px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
  background-color: #000;
}
.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s linear 0.13s;
  transition: background-color 0s linear 0.13s;
}
.hamburger--spring .hamburger-inner:before {
  top: 10px;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner:after {
  top: 20px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring:not(.collapsed) .hamburger-inner {
  -webkit-transition-delay: 0.22s;
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring:not(.collapsed) .hamburger-inner:before {
  top: 0;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
    -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
    -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
    transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
    transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s,
    -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring:not(.collapsed) .hamburger-inner:after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s,
    -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
/* #navbar .navbar-brand {
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 6vw;
  width: 20vw;
  z-index: 1;
}
@media (min-width: 768px) {
  #navbar .navbar-brand {
    padding-top: 8px;
    left: 4vw;
    width: 6vw;
    max-width: 120px;
  }
} */
#navbar .navbar-toggler {
  border: none;
  height: 64px;
}
#navbar .navbar-toggler:active,
#navbar .navbar-toggler:focus {
  outline: none;
}
#navbar .navbar-toggler .navbar-toggler-icon {
  margin-top: -0.7rem;
  width: 56px;
  height: 56px;
}
#navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 2rem 1.4rem;
  color: #535d62;
}
#navbar .navbar-nav .nav-link:hover {
  color: #666f74;
}
@media (max-width: 991.98px) {
  #navbar .navbar-nav .nav-link {
    padding-top: 0;
  }
}
#navbar .navbar-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
@media (max-width: 991.98px) {
  #navbar .drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70vw;
    max-width: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1050;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background-color: #fff !important;
  }
  #navbar .drawer.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #navbar .drawer.show + .navbar-backdrop {
    visibility: visible;
    opacity: 0.5;
  }
  #navbar .drawer.show + .navbar-backdrop + .navbar-toggler {
    position: fixed;
    right: 1rem;
    top: 0.4rem;
    z-index: 1050;
    background-color: #fff;
  }
}

/*!
     * Bootstrap v4.3.1 (https://getbootstrap.com/)
     * Copyright 2011-2019 The Bootstrap Authors
     * Copyright 2011-2019 Twitter, Inc.
     * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
     */
#footer .navbar-nav .nav-link,
#footer .navbar-nav .navbar-text {
  font-size: 0.8rem;
}
#footer .navbar-nav .nav-link {
  padding: 0.8rem 0.5rem;
}
@media (max-width: 991.98px) {
  #footer .navbar-nav .nav-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
#footer .navbar-nav span.nav-link:hover {
  color: #fff;
}
@media (max-width: 991.98px) {
  #footer .container-fluid {
    flex-wrap: wrap;
  }
}

@media (max-width: 991.98px) {
  #layout {
    padding: 10% 0 0;
  }
}

a:hover {
  text-decoration: none;
}
a.img-link {
  display: block;
  position: relative;
  overflow: hidden;
}
.img-link img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.img-link:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

a.link-under.active,
a.link-under:hover,
a.link-under:focus {
  opacity: 1 !important;
  /* color: inherit !important; */
  outline: none;
}
a.link-under > .link-under-line {
  position: relative;
}
a.link-under > .link-under-line:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  background-color: #535d62;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a.link-under.active > .link-under-line:before,
a.link-under:hover > .link-under-line:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #666f74;
}
/*
  * Opposite effect for navbar links
  */
a.nav-link.link-under > .link-under-line:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
a.nav-link.link-under.active > .link-under-line:before,
a.nav-link.link-under:hover > .link-under-line:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
.swiper-container {
  display: flex;
  padding-bottom: 3rem;
}
.swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-next,
.swiper-button-prev {
  display: block;
  background: #fff;
  top: 0;
  bottom: 0;
  width: 5vw;
  height: 100%;
  padding: 1rem;
  opacity: 1 !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 30%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}
.swiper-button-prev {
  left: -1px;
  background-position-x: 10%;
  background-image: url(/images/icons/chevron-left.jpg);
}
.swiper-button-prev:hover {
  background-position-x: 0;
}
.swiper-button-next {
  right: -1px;
  background-position-x: 90%;
  background-image: url(/images/icons/chevron-right.jpg);
}
.swiper-button-next:hover {
  background-position-x: 100%;
}
/*# sourceMappingURL=bootstrap.css.map */
